html,
body,
#root {
  /*max-width: 1280px;*/
  margin: 0 auto;
  padding: 0;
  /*text-align: center;*/
  box-sizing: border-box;
  overflow-x: hidden;
  width: 100%;
  min-height: 100vh;
}
@font-face {
  font-family: "SweetyMilkys";
  src: url("/fonts/SweetyMilkys.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Wondercity";
  src: url("/fonts/Wondercity.otf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Calmingly";
  src: url("/fonts/Calmingly.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Loverine";
  src: url("/fonts/Loverine.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FreshBaked";
  src: url("/fonts/FreshBaked.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PWMAS";
  src: url("/fonts/PWMAS.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.pwmas-font {
  font-family: "PWMAS";
  font-size: xx-large;
  font-weight: bolder;
}
.freshbaked-font {
  font-family: "FreshBaked";
  font-size: xx-large;
}
.loverine-font {
  font-family: "Loverine";
  font-size: xx-large;
}
.sweety-small {
  font-family: "SweetyMilkys";
  font-size: large;
}
.sweety-font {
  font-family: "SweetyMilkys";
  font-size: xx-large;
}
.wondercity-big {
  font-family: "Wondercity";
  font-size: xx-large;
}

.wondercity-font {
  font-family: "Wondercity";
  font-size: larger;
}
.calmingly-font {
  font-family: "Calmingly", cursive;
  font-size: 2.5rem;
}

#root {
  min-height: 100vh;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
@import "tailwindcss";

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
